.hidden {
    opacity: 0;
    transition: opacity 0.1s ease; /* Transición suave de opacidad */
    pointer-events: none; /* Evita que los elementos ocultos reciban eventos de ratón */
}

.expanded {
    margin-left: 15vw;
    transition: margin-left 0.3s;
}

.nonExpanded {
    transition: margin-left 0.3s;
}

