{% extends 'base.html' %}

{% load static %}

{% block title %}
<!-- Title of the page -->
Panel de control
{% endblock %}

{% block aditionalMetadata %}
<!-- Additional metadata, if any -->
{% endblock %}

{% block content %}
<!-- Main content block -->

<div class="container-fluid">

    <!-- Page Heading -->
    <!-- Title of the page -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Solicitar un contrato</h1>
    </div>

    <!-- Content center -->
    <!-- Content specific to this page goes here -->


    <div>
        <!-- Block to be overridden in child templates -->
        {% block control_board %}

        {% endblock %}
    </div>

</div>

{% endblock %}