<div>
    <h2 class="text-2xl font-bold text-left mb-4 mt-4">Panel de Control</h2>
    <div class="flex flex-row">
        {% include 'control_board/components/element_container.html' with count=filled_requests|length status='Aprobados' %}
        {% include 'control_board/components/element_container.html' with count=reviewed_requests|length status='Por revisar' %}
        {% include 'control_board/components/element_container.html' with count=for_validate_requests|length status='Por validar' %}
        {% include 'control_board/components/element_container.html' with count=requests|length status='Total' %}
    </div>
</div>