<div class="row">

    <!-- Total hiring request Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Solicitudes de contratación
                            <br>
                            <strong>Mes actual</strong>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{requests|length}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total unvalidated hiring request  Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Solicitudes sin validar
                            <br>
                            <strong>Histórico</strong>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{for_validate_requests|length}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-window-close fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total validated hiring request Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Solicitudes validadas
                            <br>
                            <strong>Mes actual</strong>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{reviewed_requests|length}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-eye fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total approved hiring request Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Solicitudes aprobadas
                            <br>
                            <strong>Mes actual</strong>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{filled_requests|length}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-check-square fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>