{% extends 'control_board/base_external_user.html' %}
{% load static %}
{% block title %}
    Panel de control de usuario externo
{% endblock %}
{% block aditionalMetadata %}
{% endblock %}

{% block control_board %}
    <main id="main" class="expanded">
        <div class="container text-center">
                <div style="padding-top: 25px;">
                    <button id="create_monitoring_contract"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        <a href="/hiring_app/request_creation/monitoring/">Crear contrato de monitoria</a>
                    </button>
                </div>
                <div style="padding-top: 25px;">
                    <button id="create_cex_contract" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        <a href="/hiring_app/request_creation/cex/">Crear contrato CEX</a>
                    </button>
                </div>
                <div style="padding-top: 25px;">
                    <button id="create_pos_contract" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        <a href="/hiring_app/request_creation/pos/">Crear contrato de prestacion de servicios</a>
                    </button>
                </div>
        </div>
    </main>

{% endblock %}