{% extends 'base.html' %}
{% load static %}
{% block title %}
Panel de control de usuario externo
{% endblock %}
{% block aditionalMetadata %}
{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="container mb-4">
                <h1 class="h3 text-gray-800">Bienvenido al panel de control de Usuario Externo</h1>
                <h5>Radique los siguientes tipos de solicitudes de contratos</h5>
    </div>

    <!-- Content center -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <a id="create_monitoring_contract" href="/hiring_app/request_creation/monitoring/" class="btn btn-primary btn-block text-white" id="">
                    Crear contrato de monitoría
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <a id="create_cex_contract" href="/hiring_app/request_creation/cex/" class="btn btn-primary btn-block text-white">
                    Crear contrato CEX
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <a id="create_pos_contract" href="/hiring_app/request_creation/pos/" class="btn btn-primary btn-block text-white">
                    Crear contrato de Honorarios
                </a>
            </div>
        </div>
    </div>

    {% endblock %}