   

    <table style="width: 100%; border-collapse: collapse; margin-top: 14px;">
        <thead>
            <tr style="background-color: #2A8FD0; color: white;">
                <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">ID</th>
                <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">Solicitante</th>
                <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">Lider encargado</th>
                <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">Gestor encargado</th>
                <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">Estado</th>
                <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">Contrato</th>
                <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">Fecha incio</th>
            </tr>
        </thead>
        <tbody>

            {% for request in requests %}
            <tr style="cursor: pointer;">
                <td onclick="redirectToInfoPage('{{ request.id }}')" style="border: 2px solid white; padding: 10px; text-align: center; background-color: #f2f2f2;">{{ request.id }}</td>
                <td style="border: 2px solid white; padding: 10px; text-align: center; background-color: #f2f2f2;">{{ request.created_by.first_name }} {{ request.created_by.last_name }}</td>
                <td>{% include 'request_hiring/components/assign_leader.html' with leaders=leaders contract_request=request form_id_prefix='change_leader_form_' %}</td>
                <td>{% include 'request_hiring/components/assign_manager.html' with managers=managers contract_request=request form_id_prefix='change_manager_form_' %}</td>
                <td id="statusButton" style="border: 2px solid white; padding: 10px; text-align: center; position: relative; background-color: #f2f2f2;">{{ request.state }}</td>
                <td style="border: 2px solid white; padding: 10px; text-align: center; background-color: #f2f2f2;">{{ request.contrato }}</td>
                <td style="border: 2px solid white; padding: 10px; text-align: center; background-color: #f2f2f2;">{{ request.start_date|date:"d-m-Y" }}</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>

    
    <script>
        function redirectToInfoPage(id) {
            // Construir la URL con el ID proporcionado
            var url = 'http://127.0.0.1:8000/hiring_app/info/' + id + '/';
            // Redireccionar a la URL
            window.location.href = url;
        }
    </script>


