    <script>
        function redirectToInfoPage(id) {
            // Construir la URL con el ID proporcionado
            var url = 'http://127.0.0.1:8000/hiring_app/info/' + id + '/';
            // Redireccionar a la URL
            window.location.href = url;
        }
    </script>


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Solicitudes de contratación</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado de solicitudes de contratación</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Solicitante</th>
                            <th>Lider encargado</th>
                            <th>Gestor encargado</th>
                            <th>Estado</th>
                            <th>Contrato</th>
                            <th>Fecha incio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                            <tr>
                                <td href="#" onclick="redirectToInfoPage('{{ request.id }}')">{{ request.id }}</td>
                                <td href="#" onclick="redirectToInfoPage('{{ request.id }}')">{{ request.created_by.first_name }} {{ request.created_by.last_name }}</td>
                                <td>{% include 'request_hiring/components/assign_leader.html' with leaders=leaders contract_request=request form_id_prefix='change_leader_form_' %}</td>
                                <td>{% include 'request_hiring/components/assign_manager.html' with managers=managers contract_request=request form_id_prefix='change_manager_form_' %}</td>
                                <td href="#" onclick="redirectToInfoPage('{{ request.id }}')">{{ request.state }}</td>
                                <td href="#" onclick="redirectToInfoPage('{{ request.id }}')">{{ request.contrato }}</td>
                                <td href="#" onclick="redirectToInfoPage('{{ request.id }}')">{{ request.start_date|date:"d-m-Y" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
