<script>
    function redirectToInfoPage(id) {
      window.location.href = "{% url 'hiring_app:info' idContract='PLACEHOLDER' %}".replace('PLACEHOLDER', id);
    }
</script>
  
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Solicitudes de contratación</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado de solicitudes de contratación</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Solicitante</th>
                            {% if not actualgroup == 'leader' %}
                            <th>Lider encargado</th>
                            {% endif %}
                            {% if not actualgroup == 'manager' %}
                            <th>Gestor encargado</th>
                            {% endif %}
                            <th>Estado</th>
                            <th>Fecha incio</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for request in requests %}
                            <tr>
                                <td id="{{ request.id }}_id" style="cursor: pointer;" onclick="redirectToInfoPage('{{ request.id }}')">{{ request.id }}</td>
                                <td id="{{ request.id }}_name" style="cursor: pointer;" onclick="redirectToInfoPage('{{ request.id }}')">{{ request.created_by.first_name }} {{ request.created_by.last_name }}</td>
                                {% if not actualgroup == 'leader' %}
                                <td id="{{ request.id }}_leader" style="cursor: pointer;">
                                    <p style="display: none;">{{ request.leader_assigned_to.first_name }}</p>
                                    {% include 'request_hiring/components/assign_leader.html' with leaders=leaders contract_request=request form_id_prefix='change_leader_form_' %}</td>
                                {% endif %}
                                {% if not actualgroup == 'manager' %}
                                <td id="{{ request.id }}_manager" style="cursor: pointer;">
                                    <p style="display: none;">{{ request.manager_assigned_to.first_name }}</p>
                                    {% include 'request_hiring/components/assign_manager.html' with managers=managers contract_request=request form_id_prefix='change_manager_form_' %}</td>
                                {% endif %}
                                <td id="{{ request.id }}_state" style="cursor: pointer;" onclick="redirectToInfoPage('{{ request.id }}')">{{ request.state }}</td>
                                <td id="{{ request.id }}_date" style="cursor: pointer;" onclick="redirectToInfoPage('{{ request.id }}')">{{ request.start_date|date:"d-m-Y" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>