<table style="width: 100%; border-collapse: collapse; margin-top: 14px;">
    <thead>
        <tr style="background-color: #2A8FD0; color: white;">
            <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">ID</th>
            <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">Email</th>
            <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">Nombre</th>
            <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">Apellido</th>
            <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">Rol</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td style="border: 2px solid white; padding: 10px; text-align: center; background-color: #f2f2f2;">{{ user.id }}</td>
            <td style="border: 2px solid white; padding: 10px; text-align: center; background-color: #f2f2f2;">{{ user.email }}</td>
            <td style="border: 2px solid white; padding: 10px; text-align: center; background-color: #f2f2f2;">{{ user.first_name }}</td>
            <td style="border: 2px solid white; padding: 10px; text-align: center; background-color: #f2f2f2;">{{ user.last_name }}</td>
            <td style="border: 2px solid white; padding: 10px; text-align: center; background-color: #f2f2f2;">
                <select id="roleSelect_{{ user.id }}" onchange="updateRole('{{ user.id }}')">
                    <option value="admin" {% if user.role == "admin" %} selected {% endif %}>Administrator</option>
                    <option value="leader" {% if user.role == "leader" %} selected {% endif %}>Leader</option>
                    <option value="manager" {% if user.role == "manager" %} selected {% endif %}>Manager</option>
                    <option value="remove">Remove</option>
                </select>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function updateRole(userId) {
        var selectedRole = document.getElementById("roleSelect_" + userId).value;
        var formData = new FormData();
        formData.append('updateRole', 'updateRole');
        formData.append('userId', userId);
        formData.append('role', selectedRole);

        fetch('{% url "hiring_app:administrator_user_list" %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: formData
        }).then(function(response) {
            if (response.ok) {
                location.reload();
            } else {
                alert('Failed to update role.');
                console.error('Failed to update role.');
            }
        }).catch(function(error) {
            console.error('Error:', error);
        });
    }
</script>

