<div>
    <h2 class="text-2xl font-bold text-left mb-4 mt-4">Lista de usuarios</h2>
    <div class="flex flex-row">
        {% include 'control_board/components/user_element_container.html' with count=1 status='Administradores' %}
        {% include 'control_board/components/user_element_container.html' with count=2 status='Lideres' %}
        {% include 'control_board/components/user_element_container.html' with count=2 status='Gestores' %}
        <a href="add_user/">
        <button class="transition-colors shadow text-xl font-semibold m-4 mb-0 ml-0 text-left bg-white hover:bg-[#136FB1] text-black hover:text-white py-5 px-10 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:100px">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
            </svg>
            <div class="flex flex-col justify-center">
                <span class="text-s sm:text-xl font-bold leading-4 text-black m-2 ml-0 mb-0">Agregar usuario</span>
            </div>
        </button>
        </a>
    </div>
</div>