   
    <table style="width: 100%; border-collapse: collapse; margin-top: 14px;">
        <thead>
            <tr style="background-color: #2A8FD0; color: white;">
                <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">ID</th>
                <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">Email</th>
                <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">Nombre</th>
                <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">Apellido</th>
                <th style="border: 2px solid white; padding: 10px; text-align: center; font-weight: bold; text-transform: uppercase;">Rol</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td style="border: 2px solid white; padding: 10px; text-align: center; background-color: #f2f2f2;">{{ user.id }}</td>
                <td style="border: 2px solid white; padding: 10px; text-align: center; background-color: #f2f2f2;">{{ user.email }}</td>
                <td style="border: 2px solid white; padding: 10px; text-align: center; background-color: #f2f2f2;">{{ user.first_name }}</td>
                <td style="border: 2px solid white; padding: 10px; text-align: center; background-color: #f2f2f2;">{{ user.last_name }}</td>
                <td style="border: 2px solid white; padding: 10px; text-align: center; background-color: #f2f2f2;">
                    {% if user.role == "admin" %}
                        Administrador
                    {% elif user.role == 'leader' %}
                        Lider
                    {% elif user.role == 'manager' %}
                        Gestor
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


