<div class="container-fluid">

  <!-- Page Heading -->
  <h1 id="titleAdd" class="h3 mb-2 text-gray-800">Usuarios externos</h1>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
      <h6 class="m-0 font-weight-bold text-primary">Listado de Usuarios externos</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Rol</th>
              <th>Añadir</th>

            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td id="{{ user.id }}_id">{{ user.id }}</td>
              <td id="{{ user.id }}_email">{{ user.email }}</td>
              <td id="{{ user.id }}_name">{{ user.first_name }}</td>
              <td id="{{ user.id }}_lastname">{{ user.last_name }}</td>
              <form id="addUserForm_{{ user.id }}" method="post" onsubmit="return updateRole('{{ user.id }}')">
                {% csrf_token %}
                <td>
                  <input type="hidden" name="user_id" value="{{ user.id }}">
                  <select class="managerSelect btn btn-white border border-2 border-dark text-dark dropdown-toggle col"
                    name="role">
                    <option class="col" value="admin">Administrador</option>
                    <option class="col" value="leader">Lider</option>
                    <option class="col" value="manager">Gestor</option>
                    <option class="col" value="user" selected>Usuario Externo</option>
                  </select>
                </td>
                <td>
                  <button id="{{ user.id }}" name="search_by" value="email" class="btn btn-outline-dark">
                    Añadir
                  </button>
                </td>
              </form> 
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>



<!-- Modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationTitle">Título de la notificación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="notificationMessage">Mensaje de notificación</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    onclick="window.history.back()">Cerrar</button>
            </div>
        </div>
    </div>
</div>