<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Solicitudes de contratación</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Listado de solicitudes de contratación</h6>
            <a href="add_user/" class="btn btn-primary btn-icon-split">
                <span class="text">Agregar usuario</span>
            </a>
        </div>        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Rol</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td> 
                                <select id="roleSelect_{{ user.id }}" onchange="updateRole('{{ user.id }}')">
                                    <option value="admin" {% if user.role == "admin" %} selected {% endif %}>Administrator
                                    </option>
                                    <option value="leader" {% if user.role == "leader" %} selected {% endif %}>Leader
                                    </option>
                                    <option value="manager" {% if user.role == "manager" %} selected {% endif %}>Manager
                                    </option> 
                                    <option value="remove">Remove</option>
                                </select></td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<script>
    function updateRole(userId) {
        var selectedRole = document.getElementById("roleSelect_" + userId).value;
        var formData = new FormData();
        formData.append('updateRole', 'updateRole');
        formData.append('userId', userId);
        formData.append('role', selectedRole);

        fetch('{% url "hiring_app:administrator_user_list" %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: formData
        }).then(function (response) {
            if (response.ok) {
                location.reload();
            } else {
                alert('Failed to update role.');
                console.error('Failed to update role.');
            }
        }).catch(function (error) {
            console.error('Error:', error);
        });
    }
</script>