{% load static %}
<div class="row">
    <!-- Pending Requests Card Example -->
    {% include 'statistical_registers/components/quality_manager_table.html' %}



    <!-- Pie Chart -->
    {% include 'statistical_registers/components/pie_chart_manager_quality.html' %}

</div>

<div class="row">
    {% include 'statistical_registers/components/monthly_requests.html' %}

    <!-- Pie Chart -->
    {% include 'statistical_registers/components/pie_chart_daily_requests.html' %}
</div>
    <p>Promedio de duración de una solicitud: {{ average_duration }} días</p> 
    <p>Cantidad de solicitudes resueltas fuera del plazo estimado: </p>
<div>

</div>

<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<script src="{% static 'js/statistics/manager_pie_chart.js' %}"></script>