{% load static %}
<header class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">
        <div class="navbar-brand">
            <a style="margin-right: 10px; outline: none;">
                <img src="{% static 'images/icons/icesi-logo.png' %}" width="150">
            </a>

        </div>

        <div class="navbar-nav ml-auto justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="d-flex align-items-center">
                        <a href="#" onclick="window.history.back()" style="margin-right: 10px;outline: none;text-decoration: none;">
                            <img style="width: 30px; height: 30px;;"
                                src="{% static 'images/icons/back-button.png' %}" alt="Back">
                        </a>

                        {% include 'auth/logout.html' %}

                        {% with user.first_name.split|first as first_word %}
                        {% with user.last_name.split|first as last_word %}
                        <img style="width: 60px; height: 60px; border-radius: 50%; margin-left: 20px;"
                            src="https://ui-avatars.com/api?name={{ first_word }}%20{{ last_word }}"
                            alt="{{ user.first_name }} {{ user.last_name }}" />
                        {% endwith %}
                        {% endwith %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>