{% load static %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon ">
            <i class="fa fa-file-contract"></i>
        </div>
        <div class="sidebar-brand-text text-size-2 mx-3">Modulo Contratación</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->

    <li class="nav-item active">

        <a class="nav-link" href="{% url 'hiring_app:administrator_dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Panel de control</span>
        </a>

        {% if actualgroup == 'admin' %}
        <a class="nav-link" href="{% url 'hiring_app:administrator_user_list' %}">
            <i class="fas fa-fw fa-users"></i>
            <span id="List_user">Lista de usuarios</span>
        </a>
        {% endif %}

        <a class="nav-link" href="{% url 'hiring_app:statistics' %}">
            <i class="fas fa-fw fa-file-contract"></i>
            <span>Estadisticas</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>