SECRET_KEY=django-insecure-4ht3kx09p6eqjx1&(l#d8h5qsmg(3jdgthb2aw#gz!7un41*mr
DEBUG=True

DATABASE_NAME=defaultdb
DATABASE_USER=avnadmin
DATABASE_PASSWORD=AVNS_R9bgbL8Sy56Ggdg3g1s
DATABASE_HOST=module-hiring-hiring-module.b.aivencloud.com
DATABASE_PORT=17645

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mail.sebastiandiazdev.com
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_USER=no-reply@sebastiandiazdev.com
EMAIL_HOST_PASSWORD=w=!56S93oK$h
