<button
    class="transition-colors shadow text-xl font-semibold m-4 mb-0 ml-0 text-left bg-white hover:bg-[#136FB1] text-black hover:text-white py-5 px-10 rounded">
    <svg class="w-13 h-13 sm:w-20 sm:h-20" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75">
        </path>
    </svg>
    <div class="flex flex-col justify-center">
        <span class="text-s sm:text-xl font-bold leading-4 text-black m-2 ml-0 mb-0">{{ count }}</span>
        <span class="text-xs sm:text-sm text-black">{{ status }}</span>
    </div>
</button>