{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}


{% block content %}
    {% include 'components/header.html' %}
    <main id="main">
        <div class="container text-center">
                <div style="padding-top: 25px;">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        <a href="">Crear contrato de monitoria</a>
                    </button>
                </div>
                <div style="padding-top: 25px;">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        <a href="">Crear contrato CEX</a>
                    </button>
                </div>
        </div>
    </main>

{% endblock %}