{% extends 'login_base.html' %} <!-- Extending from a base template -->

{% load static %} <!-- Loading static files such as CSS, JavaScript, and images -->
 <!-- Title of the page -->
{% block title %}
Log In
{% endblock %}

{% block content %} <!-- Start of the content block -->
<main style="background-image: url('{% static 'images/auth/background1.webp' %}')" class="main-screen">
    <div class="overlay"></div> <!-- Overlay for background -->
    <div class="content-container">
        {% include 'auth/login.html' %} <!-- Including the login form -->
    </div>
</main>
{% endblock %} <!-- End of the content block -->