{% extends 'base.html' %}


{% load static %}


{% block title %}
Request Hiring
{% endblock %}



{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Solicitud de contratación de {{contract_request.created_by.first_name}}</h1>
    </div>


    {% include 'request_hiring/center_container.html' %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Estado de la Solicitud</h1>
    </div>


    <div class="row">

        <!-- Date info -->
        {% include 'request_hiring/date_details.html' %}

        <!-- Progress bar -->
        {% include 'request_hiring/progress_bar.html' %}
    </div>


    <div class="row">

        <!-- requester info -->
        {% include 'request_hiring/request_details.html' %}

        <!-- snapshot info -->
        {% include 'request_hiring/components/snapshot.html' %}
    </div>

    {% if typedContract == "Contrato CEX" %}
        {% include 'request_hiring/cex_information.html' %}
    {% elif typedContract == "Contrato Monitoria" %}
        {% include 'request_hiring/monitoring_information.html' %}
    {% endif %}

</div>
{% endblock %}