{% extends 'base.html' %}

{% load static %}

{% block title %}
Request Hiring
{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <!-- Display heading -->
        <h1 class="h3 mb-0 text-gray-800">Solicitud de contratación de {{contract_request.created_by.first_name}}</h1>
    </div>

    <!-- Include center container -->
    {% include 'request_hiring/center_container.html' %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <!-- Display heading for request status -->
        <h1 class="h3 mb-0 text-gray-800">Estado de la Solicitud</h1>
    </div>

    <div class="row">

        <!-- Include date details -->
        {% include 'request_hiring/date_details.html' %}

        <!-- Include progress bar -->
        {% include 'request_hiring/progress_bar.html' %}
    </div>

    <div class="row">

        <!-- Include requester info -->
        {% include 'request_hiring/request_details.html' %}

        <!-- Include snapshot info -->
        {% include 'request_hiring/components/snapshot.html' %}
    </div>

    {% if typedContract == "Contrato CEX" %}
    {% include 'request_hiring/cex_information.html' %}
    {% elif typedContract == "Contrato Monitoria" %}
    {% include 'request_hiring/monitoring_information.html' %}
    {% elif typedContract == "Contrato Prestación de Servicios" %}
    {% include 'request_hiring/pos_information.html' %}
    {% endif %}


    <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificationTitle"></h5>
                </div>
                <div class="modal-body" id="notificationMessage"></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" id="notificationCloseBtn" type="button"
                        data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <style>
        .loading-indicator {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            /* Asegura que el indicador de carga esté por encima de todo el contenido */
        }

        .dark-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            /* Color oscuro con opacidad del 50% */
            z-index: 9998;
            /* Asegura que el fondo oscuro esté por encima del contenido pero debajo del indicador de carga */
        }
    </style>
</div>
{% endblock %}