<form class="change-leader-form_{{ form_id_prefix }}{{ contract_request.id }}" method="post" action="{% url 'hiring_app:assign_leader' contract_request.id %}" style="margin-bottom: 1rem;">
    {% csrf_token %}

    <select name="leader" class="leaderSelect btn btn-white border border-2 border-dark text-dark dropdown-toggle col" {% if actualgroup != 'admin' %} disabled {% endif %}>
        <option value="" class="col" selected>Seleccionar</option>
        {% for leader in leaders %}
        <option value="{{ leader.id }}" class="col" {% if leader.id == contract_request.leader_assigned_to.id %} selected {% endif %}> {{ leader.first_name }} {{ leader.last_name }}</option>
        {% endfor %}
    </select>

</form>

<script>
document.addEventListener('DOMContentLoaded', function () {
    var selectElements = document.querySelectorAll('.leaderSelect');
    selectElements.forEach(function(selectElement) {
        selectElement.addEventListener('change', function () {
            var form = selectElement.closest('form');
            form.submit();
        });
    });
});
</script>
