<form id="ChangeManagerForm" method="post" action="{% url 'hiring_app:assign_manager' contract_request.id %}" style="margin-bottom: 1rem;">
    {% csrf_token %}
    <select name="manager" id="managerSelect" 
    class="btn btn-white border border-2 border-dark text-dark dropdown-toggle col"
    {% if not is_admin and not is_leader %}
    disabled
    {% endif %}
    
    >
        <option class="col" value="" disabled selected >Seleccionar</option>

        {% for manager in managers %}

        <option class="col" value="{{ manager.id }}" 
        {% if manager.id == contract_request.manager_assigned_to.id %}
        selected
        {% endif %} 
        >
            {{ manager.first_name }} {{ manager.last_name }}
        </option>

        {% endfor %}

    </select>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var selectElement = document.getElementById('managerSelect');
        selectElement.addEventListener('change', function () {
            document.getElementById('ChangeManagerForm').submit();
        });
    });
</script>
