<!-- Form for changing the state of a contract request -->
<form id="changeStateForm" method="post" action="{% url 'hiring_app:change_state' contract_request.id %}"
    style="margin-bottom: 1rem;">
    {% csrf_token %} <!-- CSRF token for security -->

    <!-- Dropdown menu for selecting a new state -->
    <select name="state" id="stateSelect"
        style="width: 100%; margin-top: 0.5rem; padding: 0.5rem; background-color: #ffffff; border: 1px solid #cbd5e0; border-radius: 0.375rem; outline: none; transition: border-color 0.15s ease-in-out;">
        {% for choice in choices %}
        <!-- Option for each state, with a corresponding value -->
        <option value="{{ choice.0 }}" {% if choice.0==contract_request.state %}selected{% endif %}
            style="color: #4a5568;">{{ choice.1 }}</option>
        {% endfor %}
    </select>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Select the dropdown element
        var selectElement = document.getElementById('stateSelect');
        // Add change event listener to the dropdown
        selectElement.addEventListener('change', function () {
            // If the selected value is 'incomplete' or 'cancelled', prompt the user for a reason
            if (this.value === 'incomplete' || this.value === 'cancelled') {
                var reason = prompt('Ingrese el motivo de los documentos faltantes:');
                // If the user provides a reason
                if (reason !== null) {
                    // Add the reason to the form as a hidden field
                    var reasonInput = document.createElement('input');
                    reasonInput.type = 'hidden';
                    reasonInput.name = 'reason';
                    reasonInput.value = reason.trim();
                    document.getElementById('changeStateForm').appendChild(reasonInput);
                }
            }
            // Submit the form after handling the reason
            document.getElementById('changeStateForm').submit();
        });
    });
</script>