<form id="changeStateForm" method="post" action="{% url 'hiring_app:change_state' contract_request.id %}">
    {% csrf_token %}
    <label for="state">Estado:</label>
    <select name="state" id="stateSelect">
        {% for choice in choices %}
        <option value="{{ choice.0 }}" {% if choice.0 == contract_request.state %}selected{% endif %}>{{ choice.1 }}</option>
        {% endfor %}
    </select>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var selectElement = document.getElementById('stateSelect');
        selectElement.addEventListener('change', function () {
            if (this.value === 'incomplete' || this.value === 'cancelled') {
                var reason = prompt('Ingrese el motivo de los documentos faltantes:');
                if (reason !== null) {
                    // Agregar el motivo al formulario como un campo oculto
                    var reasonInput = document.createElement('input');
                    reasonInput.type = 'hidden';
                    reasonInput.name = 'reason';
                    reasonInput.value = reason.trim();
                    document.getElementById('changeStateForm').appendChild(reasonInput);
                }
            }
            // Enviar el formulario después de manejar el motivo
            document.getElementById('changeStateForm').submit();
        });
    });
</script>