<div class="col-xl-7 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
        <div class="m-4 font-weight-bold">
            <h6 style="display: inline;" class="font-weight-bold text-info">Promedio de duración de una solicitud: </h6>
            <p style="display: inline;">{{ average_days }} días, {{ average_hours }} horas y {{ average_minutes }} minutos</p> 
            <h6 style="display: inline;" class="font-weight-bold text-info">Cantidad de solicitudes resueltas fuera del plazo estimado: </h6>
            <p style="display: inline;">{{ overdue_requests }}</p>
        </div>
    </div>
</div>