<div class="col-xl-7 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
        <h3 class="m-4 font-weight-bold text-info">Calidad de nuestros líderes</h6>
            <p class="ml-4 mr-2">
                Esta tabla muestra a los 5 mejores líderes y sus indicadores de calidad. Cuanto mayor sea el porcentaje, mejor será la calidad del
                proceso de gestión de solicitudes.
            </p>
            <div class="card-body">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Líder</th>
                            <th>Efectividad</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>{{ leader_quality.0.0 }}</td>
                            <td><strong>{% if leader_quality.0.1 %} {{ leader_quality.0.1 }} {% else %} ... {% endif %}</strong>
                            </td>
                        </tr>

                        <tr>
                            <td>{{ leader_quality.1.0 }}</td>
                            <td><strong>{% if leader_quality.1.1 %} {{ leader_quality.1.1 }} {% else %} ... {% endif %}</strong>
                            </td>
                        </tr>

                        <tr>
                            <td>{{ leader_quality.2.0 }}</td>
                            <td><strong>{% if leader_quality.2.1 %} {{ leader_quality.2.1 }} {% else %} ... {% endif %}</strong>
                            </td>
                        </tr>

                        <tr>
                            <td>{{ leader_quality.3.0 }}</td>
                            <td><strong>{% if leader_quality.3.1 %} {{ leader_quality.3.1 }} {% else %} ... {% endif %}</strong>
                            </td>
                        </tr>

                        <tr>
                            <td>{{ leader_quality.4.0 }}</td>
                            <td><strong>{% if leader_quality.4.1 %} {{ leader_quality.4.1 }} {% else %} ... {% endif %}</strong>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
    </div>
</div>

