{% extends 'request_hiring.html' %}

{% block title %}
    Center container
{% endblock %}

{% block content %} 

    <div class=" ml-10 w-1/2 p-10 color border border-red-700">
        <div class="w-40 h-24 py-2.5 flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="text-black text-3xl font-bold font-['Josefin Sans']">ID:</div>
            <div class="text-zinc-600 text-3xl font-bold font-['Josefin Sans']">{{id}}</div>
        </div>
          
        {% include 'request_hiring/components/change_state.html' %}
    </div>
{% endblock %}
