<div class="card invoice mb-4">

    <div class="card-body p-4 p-md-5">
        <!-- Invoice table-->
        <div class="table-responsive">
            <table class="table table-borderless mb-0">
                <thead class="border-bottom">
                    <tr class="small text-uppercase text-muted">
                        <th scope="col">Descripcion</th>
                        <th class="text-end" scope="col">Datos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-bottom">
                        <td>
                            <div class="fw-bold">Nombre Completo del Contratado</div>
                            <div class="small text-muted d-none d-md-block">El nombre completo de la persona contratada.
                            </div>
                        </td>
                        <td class="text-end fw-bold">{{ contract_request.hiree_full_name }}</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>
                            <div class="fw-bold">ID del Contratado</div>
                            <div class="small text-muted d-none d-md-block">El identificador único asignado al
                                contratado.
                            </div>
                        </td>
                        <td class="text-end fw-bold">{{ contract_request.hiree_id }}</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>
                            <div class="fw-bold">Número de Teléfono del Contratado</div>
                            <div class="small text-muted d-none d-md-block">El número de teléfono del contratado.</div>
                        </td>
                        <td class="text-end fw-bold">{{ contract_request.hiree_cellphone }}</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>
                            <div class="fw-bold">Correo Electrónico del Contratado</div>
                            <div class="small text-muted d-none d-md-block">El correo electrónico de contacto del
                                contratado.</div>
                        </td>
                        <td class="text-end fw-bold">{{ contract_request.hiree_email }}</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>
                            <div class="fw-bold">Cenco</div>
                            <div class="small text-muted d-none d-md-block">Centro de costos asignado al contratado.
                            </div>
                        </td>
                        <td class="text-end fw-bold">{{ contract_request.cenco }}</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>
                            <div class="fw-bold">Motivo de la Solicitud</div>
                            <div class="small text-muted d-none d-md-block">El motivo por el cual se realiza la
                                solicitud.
                            </div>
                        </td>
                        <td class="text-end fw-bold">{{ contract_request.request_motive }}</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>
                            <div class="fw-bold">Entidad Bancaria</div>
                            <div class="small text-muted d-none d-md-block">La entidad bancaria a la que está asociada
                                la
                                cuenta bancaria.</div>
                        </td>
                        <td class="text-end fw-bold">{{ contract_request.banking_entity }}</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>
                            <div class="fw-bold">Tipo de Cuenta Bancaria</div>
                            <div class="small text-muted d-none d-md-block">El tipo de cuenta bancaria del contratado.
                            </div>
                        </td>
                        <td class="text-end fw-bold">{{ contract_request.get_bank_account_type_display }}</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>
                            <div class="fw-bold">Número de Cuenta Bancaria</div>
                            <div class="small text-muted d-none d-md-block">El número de cuenta bancaria del contratado.
                            </div>
                        </td>
                        <td class="text-end fw-bold">{{ contract_request.bank_account_number }}</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>
                            <div class="fw-bold">EPS</div>
                            <div class="small text-muted d-none d-md-block">La Entidad Promotora de Salud del
                                contratado.
                            </div>
                        </td>
                        <td class="text-end fw-bold">{{ contract_request.eps }}</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>
                            <div class="fw-bold">Fondo de Pensiones</div>
                            <div class="small text-muted d-none d-md-block">El fondo de pensiones del contratado.</div>
                        </td>
                        <td class="text-end fw-bold">{{ contract_request.pension_fund }}</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>
                            <div class="fw-bold">ARL</div>
                            <div class="small text-muted d-none d-md-block">La Administradora de Riesgos Laborales del
                                contratado.</div>
                        </td>
                        <td class="text-end fw-bold">{{ contract_request.arl }}</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>
                            <div class="fw-bold">Valor del Contrato</div>
                            <div class="small text-muted d-none d-md-block">El valor total del contrato.</div>
                        </td>
                        <td class="text-end fw-bold">{{ contract_request.contract_value }}</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>
                            <div class="fw-bold">Cuenta de Cobro</div>
                            <div class="small text-muted d-none d-md-block">La cuenta bancaria a la que se realizarán
                                los
                                pagos correspondientes.</div>
                        </td>
                        <td class="text-end fw-bold">{{ contract_request.charge_account }}</td>
                    </tr>
                    <tr class="border-bottom">
                        <td colspan="2" class="text-end">
                            <a href="/hiring_app/download_rut/{{ contract_request.id }}/"
                                style="color: #00599C;">Descargar
                                Archivo RUT</a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>