<div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <!-- Title -->
            <h6 class="m-0 font-weight-bold text-primary">Calendario</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body" style="padding-top: 1px !important; padding-bottom: 1px !important;">
            <!-- List group -->
            <ul class="list-group list-group-flush">
                <!-- Start date -->
                <li class="list-group-item">Fecha de inicio: {{ contract_request.start_date|date:"d-m-Y" }}</li>
                <!-- End date -->
                <li class="list-group-item">Fecha final: {{ contract_request.estimated_completion_date|date:"d-m-Y" }}
                </li>
                <!-- Remaining time -->
                <li class="list-group-item">Tiempo restante: {{ days_difference }}
                    {% if days_difference == 1 %}
                    día
                    {% else %}
                    días
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>