<div style="background-color: white; padding: 1rem;  width: 100%; border-radius: 0.375rem; box-shadow: 2px 2px 4px rgba(42, 143, 208, 0.5); text-align: center;">    
    <div style="display: flex; flex-direction: row; width: 100%;">
        <div style="display: flex; flex-direction: column; width: 50%;">
            <p style="color: #434343; margin-bottom: 0.75rem;">Student Full Name:</p>
            <p style="color: #434343; margin-bottom: 0.75rem;">Student ID:</p>
            <p style="color: #434343; margin-bottom: 0.75rem;">Student Cellphone:</p>
            <p style="color: #434343; margin-bottom: 0.75rem;">Student Email:</p>
            <p style="color: #434343; margin-bottom: 0.75rem;">Daviplata:</p>
            <p style="color: #434343; margin-bottom: 0.75rem;">Course or Project:</p>
            <p style="color: #434343; margin-bottom: 0.75rem;">Monitoring Description:</p>
            <p style="color: #434343; margin-bottom: 0.75rem;">Weekly Hours:</p>
            <p style="color: #434343; margin-bottom: 0.75rem;">Total Value to Pay:</p>
            <p style="color: #434343; margin-bottom: 0.75rem;">Is Unique Payment:</p>
            <p style="color: #434343; margin-bottom: 0.75rem;">Has Money in Cenco:</p>
            <p style="color: #434343; margin-bottom: 0.75rem;">Cenco Manager:</p>
            <p style="color: #434343; margin-bottom: 0.75rem;">Monitoring Type:</p>
            <p style="color: #434343; margin-bottom: 0.75rem;">Student Code:</p>
            <p style="color: #434343; margin-bottom: 0.75rem;">Daviplata:</p>
        </div>
        <div style="display: flex; flex-direction: column; width: 50%;">
            <p style="color: #00599C; margin-bottom: 0.75rem;">{{ contract_request.student_full_name }}</p>
            <p style="color: #00599C; margin-bottom: 0.75rem;">{{ contract_request.student_id }}</p>
            <p style="color: #00599C; margin-bottom: 0.75rem;">{{ contract_request.student_cellphone }}</p>
            <p style="color: #00599C; margin-bottom: 0.75rem;">{{ contract_request.student_email }}</p>
            <p style="color: #00599C; margin-bottom: 0.75rem;">{{ contract_request.daviplata }}</p>
            <p style="color: #00599C; margin-bottom: 0.75rem;">{{ contract_request.course_or_proyect }}</p>
            <p style="color: #00599C; margin-bottom: 0.75rem;">{{ contract_request.monitoring_description }}</p>
            <p style="color: #00599C; margin-bottom: 0.75rem;">{{ contract_request.weekly_hours }}</p>
            <p style="color: #00599C; margin-bottom: 0.75rem;">{{ contract_request.total_value_to_pay }}</p>
            <p style="color: #00599C; margin-bottom: 0.75rem;">{{ contract_request.is_unique_payment }}</p>
            <p style="color: #00599C; margin-bottom: 0.75rem;">{{ contract_request.has_money_in_cenco }}</p>
            <p style="color: #00599C; margin-bottom: 0.75rem;">{{ contract_request.cenco_manager }}</p>
            <p style="color: #00599C; margin-bottom: 0.75rem;">{{ contract_request.monitoring_type }}</p>
            <p style="color: #00599C; margin-bottom: 0.75rem;">{{ contract_request.student_code }}</p>
            <p style="color: #00599C; margin-bottom: 0.75rem;">{{ contract_request.daviplata }}</p>
        </div>
    </div>
</div>
