<h1 style="font-size: 1.5rem; font-weight: 600; margin-bottom: 1rem">
  Solicitudes de contratos de Monitoría
</h1>
<div class="row">
  <!-- Data student  -->
  <div class="col-xl-7 col-lg-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
      >
        <h6 class="m-0 font-weight-bold text-primary">
          Información del estudiante
        </h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-borderless mb-0">
            <tbody>
              <tr class="border-bottom">
                <td>
                  <div class="fw-bold">Código del Estudiante</div>
                  <div class="small text-muted d-none d-md-block">
                    El código asignado al estudiante.
                  </div>
                </td>
                <td class="text-end fw-bold">
                  {{ contract_request.student_code }}
                </td>
              </tr>
              <tr class="border-bottom">
                <td>
                  <div class="fw-bold">Nombre Completo del Estudiante</div>
                  <div class="small text-muted d-none d-md-block">
                    El nombre completo del estudiante.
                  </div>
                </td>
                <td class="text-end fw-bold">
                  {{ contract_request.student_full_name }}
                </td>
              </tr>
              <tr class="border-bottom">
                <td>
                  <div class="fw-bold">ID del Estudiante</div>
                  <div class="small text-muted d-none d-md-block">
                    El identificador único asignado al estudiante.
                  </div>
                </td>
                <td class="text-end fw-bold">
                  {{ contract_request.student_id }}
                </td>
              </tr>
              <tr class="border-bottom">
                <td>
                  <div class="fw-bold">Correo Electrónico del Estudiante</div>
                  <div class="small text-muted d-none d-md-block">
                    El correo electrónico de contacto del estudiante.
                  </div>
                </td>
                <td class="text-end fw-bold">
                  {{ contract_request.student_email }}
                </td>
              </tr>
              <tr class="border-bottom">
                <td>
                  <div class="fw-bold">Número de Teléfono del Estudiante</div>
                  <div class="small text-muted d-none d-md-block">
                    El número de teléfono del estudiante.
                  </div>
                </td>
                <td class="text-end fw-bold">
                  {{ contract_request.student_cellphone }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- CENCO -->
  <div class="col-xl-5 col-lg-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
      >
        <h6 class="m-0 font-weight-bold text-primary">
          Información del financiera
        </h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-borderless mb-0">
            <tbody>
              <tr class="border-bottom">
                <td>
                  <div class="fw-bold">Cenco</div>
                  <div class="small text-muted d-none d-md-block">
                    CENCO asignado.
                  </div>
                </td>
                <td class="text-end fw-bold">{{ contract_request.cenco }}</td>
              </tr>
              <tr class="border-bottom">
                <td>
                  <div class="fw-bold">Administrador del cenco</div>
                  <div class="small text-muted d-none d-md-block">
                    Administrador del cenco asignado.
                  </div>
                </td>
                <td class="text-end fw-bold">
                  {{ contract_request.cenco_manager }}
                </td>
              </tr>
              <tr class="border-bottom">
                <td>
                  <div class="fw-bold">Daviplata</div>
                  <div class="small text-muted d-none d-md-block">
                    Num de Daviplata del estudiante.
                  </div>
                </td>
                <td class="text-end fw-bold">
                  {{ contract_request.daviplata }}
                </td>
              </tr>
              <tr class="border-bottom">
                <td>
                  <div class="fw-bold">Valor total a pagar</div>
                  <div class="small text-muted d-none d-md-block">
                    Valor en total del pago.
                  </div>
                </td>
                <td class="text-end fw-bold">
                  {{ contract_request.total_value_to_pay }}
                </td>
              </tr>
              <tr class="border-bottom">
                <td>
                  <div class="fw-bold">Hora semanales</div>
                  <div class="small text-muted d-none d-md-block">
                    {{ contract_request.weekly_hours }}
                  </div>
                </td>
                <td class="text-end fw-bold">
                  <div class="fw-bold">Es pago unico?</div>
                  <div class="small text-muted d-none d-md-block">
                    {% if contract_request.is_unique_payment %} Sí {% else %} No
                    {% endif %}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Data monitoring  -->
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
      >
        <h6 class="m-0 font-weight-bold text-primary">
          Información de la monitoria
        </h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-borderless mb-0">
            <tbody>
              <tr class="border-bottom">
                <td>
                  <div class="fw-bold">Tipo de Monitoria</div>
                  <div class="small text-muted d-none d-md-block">
                    El tipo de actividad de monitoreo.
                  </div>
                </td>
                <td class="text-end fw-bold">
                  {{ contract_request.monitoring_type }}
                </td>
              </tr>
              <tr class="border-bottom">
                <td>
                  <div class="fw-bold">Curso o Proyecto</div>
                  <div class="small text-muted d-none d-md-block">
                    El curso o proyecto en el que participa el estudiante.
                  </div>
                </td>
                <td class="text-end fw-bold">
                  {{ contract_request.course_or_project }}
                </td>
              </tr>
              <tr class="border-bottom">
                <td>
                  <div class="fw-bold">Descripción de la Monitoria</div>
                  <div class="small text-muted d-none d-md-block">
                    Una descripción de la actividad de monitoreo del estudiante.
                  </div>
                </td>
                <td class="text-end fw-bold">
                  {{ contract_request.monitoring_description }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
