<div id="ProgressBarContainer" style="border-width: 2px; border-style: solid; padding: 0.125rem; border-color: #434343; background-color: white; height: 2.5rem; border-radius: 9999px; width: 80%;">
    <div id="ProgressBar" style="background-color: #00599C; width: 25%; border-radius: 9999px; height: 100%; font-size: 0.75rem; line-height: 1rem; display: flex; justify-content: center; align-items: center; text-decoration-color: white; font-weight: 700; color:white">
        25%
    </div>
</div>

