{% load static %}
<div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Barra de progreso</h6>
        </div>

        <!-- Card Body -->
        <div class="card-body">
            <div class="row my-4 ">
                <div class="col-auto my-1">
                    <i class="fas fa-calendar fa-3x"></i>
                </div>
                <div id="ProgressBarContainer" class="col my-1"
                    style="border-width: 2px; border-style: solid; padding: 0.125rem; border-color: #434343; background-color: white; height: 3rem; border-radius: 9999px;">
                    <div id="ProgressBar"
                        style="background-color: #00599C; width: 25%; border-radius: 9999px; height: 100%; font-size: 0.75rem; line-height: 1rem; display: flex; justify-content: center; align-items: center; text-decoration-color: white; font-weight: 700; color:white">
                        25%
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<script>
    // Update progress bar function according to selected status
    function updateProgressBar(state) {
        var progressBar = document.getElementById('ProgressBar');
        switch (state) {
            case 'pending':
                progressBar.style.width = '25%';
                progressBar.style.backgroundColor = '#00599C';
                progressBar.textContent = '25%';
                break;
            case 'review':
                progressBar.style.width = '50%';
                progressBar.style.backgroundColor = '#00599C';
                progressBar.textContent = '50%';
                break;
            case 'incomplete':
                progressBar.style.width = '75%';
                progressBar.style.backgroundColor = '#00599C';
                progressBar.textContent = '75%';
                break;
            case 'filed':
                progressBar.style.width = '100%';
                progressBar.style.backgroundColor = 'green';
                progressBar.textContent = '100%';
                break;
            case 'cancelled':
                progressBar.style.width = '100%';
                progressBar.style.backgroundColor = 'red';
                progressBar.textContent = '100%';
                break;
            default:
                break;
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Get the default state from the drop-down menu
        var defaultState = document.getElementById('stateSelect').value;
        // Update progress bar with default status
        updateProgressBar(defaultState);
    });

    // Add a change event to the drop-down menu
    document.getElementById('stateSelect').addEventListener('change', function () {
        // Get the selected value from the drop-down menu
        var selectedState = this.value;
        // Update progress bar based on selected status
        updateProgressBar(selectedState);
    });
</script>