<div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Informacion del solicitante:</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body" style="padding-top: 1px !important; padding-bottom: 1px !important;">
            <ul class="list-group list-group-flush">
                <!-- Display the requester's name -->
                <li class="list-group-item">Nombre:<br> {{ contract_request.created_by.first_name }} {{
                    contract_request.created_by.last_name }}</li>
                <!-- Display the requester's email -->
                <li class="list-group-item">Correo:<br> {{ contract_request.created_by.email }}</li>
                <!-- Display the contract type -->
                <li class="list-group-item">Tipo de contrato:<br> {{ typedContract }}</li>
            </ul>
        </div>
    </div>
</div>