<div style="width: 33%; background-color: #cbd5e0; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 24px;">
    <div style="background-color: #edf2f7; border-radius: 0.75rem; border: 1px solid #cbd5e0; padding: 16px;">
        <div style="margin-bottom: 1rem;">
            <h2 style="font-size: 1.125rem; font-weight: 600; color: #3182ce; border-bottom: 2px solid #3182ce; padding-bottom: 0.5rem;">Detalles del contrato</h2>            
            <p style="color: #4a5568;">Solicitante:</p>            
            <p style="font-weight: 600; color: #2d3748;">{{ contract_request.created_by.first_name }} {{ contract_request.created_by.last_name }}</p>
        </div>
        <div>
            <p style="color: #4a5568;">Tipo de contrato:</p>
            <p style="font-weight: 600; color: #2d3748;">{{ typedContract }}</p>
        </div>
    </div>
</div>
